<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>74226942860-ot1ctq2dh4hunvtsoi0qf3hbnagj9tgv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.74226942860-ot1ctq2dh4hunvtsoi0qf3hbnagj9tgv</string>
	<key>API_KEY</key>
	<string>AIzaSyDqOH5Oib6cNXAiJgopOn_5DfAgOrCM4vQ</string>
	<key>GCM_SENDER_ID</key>
	<string>74226942860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Anniekang.SLP</string>
	<key>PROJECT_ID</key>
	<string>slp-sesac</string>
	<key>STORAGE_BUCKET</key>
	<string>slp-sesac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:74226942860:ios:626e0e60dc77fcd751cca9</string>
</dict>
</plist>